 ## Loop:While

In [6]:
n=5
i=1

while i <=n:
    print(" * " * i)
    i = i + 1
    

n=4
i=n

while i <=1:
    print(" * " * i)
    i = i - 1

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

## Task

In [12]:
# num = int(input("Enter a number: ") 

num = 10
while num >=0:
    print(num)
    
    num-= 1

10
9
8
7
6
5
4
3
2
1
0

In [18]:
def test1():
    sum =1 + 5
    
    return sum

In [19]:
test1()

6

In [20]:
result = test1()

In [21]:
print(result)

6

In [22]:
def greet():
    print("Hello!")

In [23]:
greet()

Hello!

In [24]:
def test3():
    li = [1,2,3]
    return li

In [25]:
result = test3()

In [26]:
print(result)

[1, 2, 3]

In [27]:
def test4():
    name = "RANI"
    
    return name

In [28]:
name = test4()

In [29]:
name

'RANI'

In [31]:
test4() + " CHATE "

'RANI CHATE '

In [32]:
def test5():
    
    return 36,58,14

In [33]:
test5()

(36, 58, 14)

In [34]:
a, b, c = test5()

In [35]:
a

36

In [36]:
b

58

In [37]:
c

14

In [38]:
a,b,c = 1,2,3

In [39]:
print(a)
print(b)
print(c)

1
2
3

## Example-1

In [40]:
def test6():
    
    result = 50/20*6+8-5
    
    return result

In [41]:
test6()

18.0

In [54]:
def test7():
    
    l = [1,2,3,4,5,6,7,8,9,10]
    
    sum = 0
    
    for i in l:
        
        sum = sum + i
        
    return sum

In [55]:
test7()

55

## Example-2

In [60]:
def test8():
    
    l = [1,2,3,4,5,"INDIA","PUNE",6,7,8,"RANI",10]
    
    sum = 0
    
    for i in l:
        
        if type(i) == int:
            
            sum += i
        
    return sum

In [61]:
test8()

46

In [67]:
def test9(l):
    
    sum = 0
    
    for i in l:
        
        if type(i) == int:
            
            sum += i
            
    return sum

In [68]:
l = [1,2,3,4,5,'a','b','c',6,7,8,'d','e',9,'f',10]

In [69]:
test9(l)

55

In [73]:
def test10(mylist):
    
    sum = 0
    
    for i in mylist:
        
        if type(i) == int:
            
            sum += i
            
    return sum

In [74]:
l = [1,2,3,4,'a','b','c',5]

In [75]:
test10(mylist=l)

15

In [76]:
def two_no_sum(a, b):
    
    sum = a + b
    
    return sum

In [77]:
a = 2
b = 3

result = two_no_sum(a, b)

In [78]:
result

5

In [81]:
p = 5
q = 10

two_no_sum(p, q)

15

In [84]:
two_no_sum(a=p , b=q)

15

## Doc Strim Concept

In [93]:
def two_no_sum(a, b):
    """
    returns the sum of two numbers
    :params: 'a' is first number
    :params: 'b' is second number
    :return: additon of two numbers
     
    """
    
    sum = a + b
    
    return sum

In [94]:
two_no_sum(1,2)

3

In [95]:
l

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [96]:
['a','b','c']

['a', 'b', 'c']

In [97]:
def test10(mylist):
    
    li = []
    
    for i in mylist:
        
        if type(i) == str:
            
            li.append(i)
            
    return li

In [98]:
l

[1, 2, 3, 4, 'a', 'b', 'c', 5]

In [100]:
test10(l)

['a', 'b', 'c']

In [114]:
def test11(mylist: list()):
    """
    This function seperate the integer and str elements from the given list
    :params: list()
    :return: string list: [], integer list: list:()
    
    """
    
    li_int = []
    li_str = []
    
    for i in mylist:
        
        if type(i) == str:
            li_str.append(i)
            
        if type(i) == int:
            li_int.append(i)
            
    return li_str, li_int

In [124]:
lst = [4, 5, 6, 7, 8, 9]

In [125]:
lst

[4, 5, 6, 7, 8, 9]

In [129]:
lst = [4, 5, 6, 7, 8, 9]

lst.reverse()

      print("Using reverse() ", lst)

      print("Using reversed() ", lst(reversed(lst)))
        
        return lst

IndentationError: unexpected indent (Temp/ipykernel_21044/122993641.py, line 5)